body {
    font-family: Arial, sans-serif;
    background: url('logo/logoDS.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-password-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #3D0A49;
    margin-bottom: 20px;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    color: #3D0A49;
    font-weight: bolder;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"],
.back-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
}

button[type="submit"] {
    background-color: #E0DAF7;
    color: #3D0A49;
}

button[type="submit"]:hover {
    background-color: #3D0A49;
    color: #E0DAF7;
}

.back-btn {
    background-color: #E0DAF7;
    color: #3D0A49;
}

.back-btn:hover {
    background-color: #3D0A49;
    color: #E0DAF7;
}
